openai-whisper>=20231117
assemblyai>=0.33.0
soundfile>=0.12.1
tqdm>=4.67.1
torch-directml>=0.2.0
click<8.0,>=5.1  # Pin click to satisfy flask 1.1.4
pyannote-audio>=3.1.1  # Uncomment for speaker diarization